:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #7367f0;
  --bs-pink: #e83e8c;
  --bs-red: #ea5455;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff9f43;
  --bs-green: #28c76f;
  --bs-teal: #20c997;
  --bs-cyan: #00cfe8;
  --bs-black: #4b465c;
  --bs-white: #fff;
  --bs-gray: rgba(75, 70, 92, 0.6);
  --bs-gray-dark: rgba(75, 70, 92, 0.8);
  --bs-gray-25: rgba(75, 70, 92, 0.015);
  --bs-gray-50: rgba(75, 70, 92, 0.03);
  --bs-primary: #7367f0;
  --bs-secondary: #a8aaae;
  --bs-success: #28c76f;
  --bs-info: #00cfe8;
  --bs-warning: #ff9f43;
  --bs-danger: #ea5455;
  --bs-light: #dfdfe3;
  --bs-dark: #4b4b4b;
  --bs-gray: rgba(75, 70, 92, 0.05);
  --bs-primary-rgb: 115, 103, 240;
  --bs-secondary-rgb: 168, 170, 174;
  --bs-success-rgb: 40, 199, 111;
  --bs-info-rgb: 0, 207, 232;
  --bs-warning-rgb: 255, 159, 67;
  --bs-danger-rgb: 234, 84, 85;
  --bs-light-rgb: 223, 223, 227;
  --bs-dark-rgb: 75, 75, 75;
  --bs-gray-rgb: 75, 70, 92;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 75, 70, 92;
  --bs-body-color-rgb: 111, 107, 125;
  --bs-body-bg-rgb: 248, 247, 250;
  --bs-font-sans-serif: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-root-font-size: 16px;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.47;
  --bs-body-color: #6f6b7d;
  --bs-body-bg: #f8f7fa;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dbdade;
  --bs-border-color-translucent: rgba(75, 70, 92, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 0.625rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #7367f0;
  --bs-link-hover-color: #685dd8;
  --bs-code-color: #e83e8c;
  --bs-highlight-bg: #ffecd9;
}

.card {
  --bs-card-spacer-y: 1.5rem;
  --bs-card-spacer-x: 1.5rem;
  --bs-card-title-spacer-y: 0.875rem;
  --bs-card-border-width: 0;
  --bs-card-border-color: #dbdade;
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);
  --bs-card-inner-border-radius: 0.375rem;
  --bs-card-cap-padding-y: 1.5rem;
  --bs-card-cap-padding-x: 1.5rem;
  --bs-card-cap-bg: transparent;
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1.5rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

body {
  background: #F8F7FA;
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(75, 70, 92, 0);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.37;
  color: #5d596c;
}

.card-header-flex {
  display: flex;
  justify-content: space-between;
}

.fw-bold {
  font-weight: 700 !important;
}


h4,
.h4 {
  font-size: calc(1.2625rem + 0.15vw);
}

@media (min-width: 1200px) {

  h4,
  .h4 {
    font-size: 1.375rem;
  }
}

h5,
.h5 {
  font-size: 1.125rem;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.fw-light {
  font-weight: 300 !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #a5a3ae !important;
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
}

.btn {
  --bs-btn-padding-x: 1.25rem;
  --bs-btn-padding-y: 0.6rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.9375rem;
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: 1.125;
  --bs-btn-color: #6f6b7d;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.4);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.05rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn-check+.btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}

.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-check:focus-visible+.btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.btn-check:checked+.btn:focus-visible,
:not(.btn-check)+.btn:active:focus-visible,
.btn:first-child:active:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-label-primary {
  color: #7367f0;
  border-color: transparent;
  background: #e9e7fd;
}

.btn-label-primary.waves-effect .waves-ripple {
  background: radial-gradient(rgba(115, 103, 240, 0.2) 0, rgba(115, 103, 240, 0.3) 40%, rgba(115, 103, 240, 0.4) 50%, rgba(115, 103, 240, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.btn-label-primary:hover {
  border-color: transparent !important;
  background: #dddbfb !important;
  color: #7367f0 !important;
}

.btn-label-primary:focus,
.btn-label-primary.focus {
  color: #7367f0;
  background: #dddbfb;
  box-shadow: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #7367f0;
  border-color: #7367f0;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #685dd8 !important;
  border-color: #685dd8 !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #685dd8;
  border-color: #685dd8;
  box-shadow: none;
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.show.dropdown-toggle,
.show>.btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #685dd8 !important;
  border-color: #685dd8 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff !important;
  background-color: #7367f0 !important;
  border-color: #7367f0 !important;
  box-shadow: none !important;
}

.btn-group .btn-primary,
.input-group .btn-primary {
  border-right: 1px solid #685dd8;
  border-left: 1px solid #685dd8;
}

.container {
  padding: 1rem 2rem;
}

.schema-container {
  overflow: auto;
  padding: 2rem 1.5rem;
}

.tab-content {
  display: flex;
  align-items: center;
}

.tab-content p {
  font-weight: 500;
  margin: 0;
  margin-left: 6px;
}

.menu-setting {
  margin-left: 10px;
  cursor: pointer;
}

.meun-schema {
  display: flex;
  gap: 8rem;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 13%;
}

.tab-menu {
  display: flex;
  align-items: center;
  border: solid 1px var(--bs-body-color);
  width: fit-content;
  padding: 4%;
  border-radius: 5px;
}

.tab-submenu {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--bs-body-color);
  padding: 3%;
  border-radius: 5px;
  margin-top: 1rem;
  position: relative;
}

.sub-tab-submenu {
  width: 10rem;
}

.submenus {
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: solid 1px var(--bs-body-color);
  width: 80%;
}

.sub-submenus {
  padding-top: 1rem;
}

.arrow {
  width: 9%;
  height: 1px;
  background: var(--bs-body-color);
  position: absolute;
  left: -1.1rem;
  top: 1.1rem;
}

.sub-arrow {
  width: 10%;
}

.new-submenu {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bs-body-color);
  border: solid 1px var(--bs-body-color);
  padding: 4%;
  border-radius: 5px;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
  color: white;
}

.new-sub {
  font-size: 12px;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.modal {
  --bs-modal-zindex: 1090;
  --bs-modal-width: 35rem;
  --bs-modal-padding: 1.5rem;
  --bs-modal-margin: 1.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 0px;
  --bs-modal-border-radius: 0.375rem;
  --bs-modal-box-shadow: 0 0.31rem 1.25rem 0 rgba(75, 70, 92, 0.4);
  --bs-modal-inner-border-radius: calc(0.375rem - 0px);
  --bs-modal-header-padding-x: 0.25rem;
  --bs-modal-header-padding-y: 1.25rem;
  --bs-modal-header-padding: 1.25rem 1.5rem 0.25rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 0px;
  --bs-modal-title-line-height: 1.47;
  --bs-modal-footer-gap: 1rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  -webkit-transform: translateY(-100px) scale(0.8);
  transform: translateY(-100px) scale(0.8);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal-backdrop {
  --bs-backdrop-zindex: 1089;
  --bs-backdrop-bg: #4b465c;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}

.modal-footer>* {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.31rem 1.25rem 0 rgba(75, 70, 92, 0.4);
  }

  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }

  .modal-sm {
    --bs-modal-width: 22.5rem;
  }
}

@media (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    --bs-modal-width: 50rem;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1140px;
  }
}


.modal .btn-close {
  background-color: #fff;
  border-radius: 0.375rem;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 4.5L5 13.5' stroke='%23a5a3ae' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 4.5L5 13.5' stroke='white' stroke-opacity='0.2' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 4.5L14 13.5' stroke='%23a5a3ae' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 4.5L14 13.5' stroke='white' stroke-opacity='0.2' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 1;
  padding: 0.44rem;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
  transition: all 0.23s ease 0.1s;
  border: none;
  padding: 3%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

html:not([dir=rtl]) .modal .btn-close {
  -webkit-transform: translate(23px, -25px);
  transform: translate(23px, -25px);
}

[dir=rtl] .modal .btn-close {
  -webkit-transform: translate(-31px, -25px);
  transform: translate(-31px, -25px);
}

.modal .btn-close:hover,
.modal .btn-close:focus,
.modal .btn-close:active {
  opacity: 1;
  outline: none;
}

html:not([dir=rtl]) .modal .btn-close:hover,
html:not([dir=rtl]) .modal .btn-close:focus,
html:not([dir=rtl]) .modal .btn-close:active {
  -webkit-transform: translate(20px, -20px);
  transform: translate(20px, -20px);
}

[dir=rtl] .modal .btn-close:hover,
[dir=rtl] .modal .btn-close:focus,
[dir=rtl] .modal .btn-close:active {
  -webkit-transform: translate(-26px, -20px);
  transform: translate(-26px, -20px);
}

.modal .modal-header {
  position: relative;
}

.modal .modal-header .btn-close {
  position: absolute;
  top: 1.56rem;
}

html:not([dir=rtl]) .modal .modal-header .btn-close {
  right: 1rem;
}

[dir=rtl] .modal .modal-header .btn-close {
  left: 1.3rem;
}

.modal-footer {
  padding: 1.25rem 0rem 0.25rem;
}

.modal-content {
  box-shadow: 0 0.31rem 1.25rem 0 rgba(75, 70, 92, 0.4);
}


.form-control {
  display: block;
  width: 93%;
  padding: 0.422rem 0.875rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6f6b7d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbdade;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control[type=file] {
  overflow: hidden;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.form-control:focus {
  color: #6f6b7d;
  background-color: #fff;
  border-color: #7367f0;
  outline: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}

.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}

.form-control::-webkit-input-placeholder {
  color: #b7b5be;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #b7b5be;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #b7b5be;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #b7b5be;
  opacity: 1;
}

.form-control::placeholder {
  color: #b7b5be;
  opacity: 1;
}

.form-control:disabled {
  background-color: rgba(75, 70, 92, 0.08);
  opacity: 1;
}

.form-control::-webkit-file-upload-button {
  padding: 0.422rem 0.875rem;
  margin: -0.422rem -0.875rem;
  -webkit-margin-end: 0.875rem;
  margin-inline-end: 0.875rem;
  color: #6f6b7d;
  background-color: #fff;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-control::file-selector-button {
  padding: 0.422rem 0.875rem;
  margin: -0.422rem -0.875rem;
  -webkit-margin-end: 0.875rem;
  -moz-margin-end: 0.875rem;
  margin-inline-end: 0.875rem;
  color: #6f6b7d;
  background-color: #fff;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }

  .form-control::file-selector-button {
    transition: none;
  }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #f2f2f2;
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #f2f2f2;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.422rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #6f6b7d;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext:focus {
  outline: 0;
}

.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 0.532rem + 2px);
  padding: 0.266rem 0.625rem;
  font-size: 0.8125rem;
  border-radius: 0.25rem;
}

.form-control-sm::-webkit-file-upload-button {
  padding: 0.266rem 0.625rem;
  margin: -0.266rem -0.625rem;
  -webkit-margin-end: 0.625rem;
  margin-inline-end: 0.625rem;
}

.form-control-sm::file-selector-button {
  padding: 0.266rem 0.625rem;
  margin: -0.266rem -0.625rem;
  -webkit-margin-end: 0.625rem;
  -moz-margin-end: 0.625rem;
  margin-inline-end: 0.625rem;
}

.form-control-lg {
  min-height: calc(1.5em + 1.188rem + 2px);
  padding: 0.594rem 1rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
}

.form-control-lg::-webkit-file-upload-button {
  padding: 0.594rem 1rem;
  margin: -0.594rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

.form-control-lg::file-selector-button {
  padding: 0.594rem 1rem;
  margin: -0.594rem -1rem;
  -webkit-margin-end: 1rem;
  -moz-margin-end: 1rem;
  margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.844rem + 2px);
}

textarea.form-control-sm {
  min-height: calc(1.5em + 0.532rem + 2px);
}

textarea.form-control-lg {
  min-height: calc(1.5em + 1.188rem + 2px);
}

.form-control-color {
  width: 3rem;
  height: calc(1.5em + 0.844rem + 2px);
  padding: 0.422rem;
}

.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.form-control-color::-moz-color-swatch {
  border: 0 !important;
  border-radius: 0.375rem;
}

.form-control-color::-webkit-color-swatch {
  border-radius: 0.375rem;
}

.form-control-color.form-control-sm {
  height: calc(1.5em + 0.532rem + 2px);
}

.form-control-color.form-control-lg {
  height: calc(1.5em + 1.188rem + 2px);
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.422rem 2.45rem 0.422rem 0.875rem;
  -moz-padding-start: calc(0.875rem - 3px);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6f6b7d;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%236f6b7d' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='white' stroke-opacity='0.2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.875rem center;
  background-size: 22px 20px;
  border: 1px solid #dbdade;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}

.form-select:focus {
  border-color: #7367f0;
  outline: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}

.form-select[multiple],
.form-select[size]:not([size="1"]) {
  padding-right: 0.875rem;
  background-image: none;
}

.form-select:disabled {
  color: #a5a3ae;
  background-color: rgba(75, 70, 92, 0.08);
}

.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #6f6b7d;
}

.form-select-sm {
  padding-top: 0.266rem;
  padding-bottom: 0.266rem;
  padding-left: 0.625rem;
  font-size: 0.8125rem;
  border-radius: 0.25rem;
}

.form-select-lg {
  padding-top: 0.594rem;
  padding-bottom: 0.594rem;
  padding-left: 1rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
}

.form-check {
  display: block;
  min-height: 1.378125rem;
  padding-left: 1.7em;
  margin-bottom: 0.125rem;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.7em;
}

.form-check-reverse {
  padding-right: 1.7em;
  padding-left: 0;
  text-align: right;
}

.form-check-reverse .form-check-input {
  float: right;
  margin-right: -1.7em;
  margin-left: 0;
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0.135em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #dbdade;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  print-color-adjust: exact;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.form-check-input[type=radio] {
  border-radius: 50%;
}

.form-check-input:active {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.form-check-input:focus {
  border-color: #7367f0;
  outline: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}

.form-check-input:checked {
  background-color: #7367f0;
  border-color: #7367f0;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='8' height='8' rx='4' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: #7367f0;
  border-color: #7367f0;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 9H12.5' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.form-check-input:disabled {
  pointer-events: none;
  -webkit-filter: none;
  filter: none;
  opacity: 0.5;
}

.form-check-input[disabled]~.form-check-label,
.form-check-input:disabled~.form-check-label {
  cursor: default;
  opacity: 0.5;
}

.form-check-label {
  cursor: pointer;
}

.form-switch {
  padding-left: 2.5em;
}

.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='6' fill='rgba%2875, 70, 92, 0.3%29'/%3E%3C/svg%3E%0A");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}


.form-label {
  margin-bottom: 0.25rem;
  font-size: 0.8125rem;
  color: #5d596c;
}

.form-label,
.col-form-label {
  text-transform: inherit;
  letter-spacing: inherit;
}

.form-label-lg {
  font-size: 1.125rem;
}

.form-label-sm {
  font-size: 0.8125rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.btn-danger {
  color: #fff;
  background-color: #ea5455;
  border-color: #ea5455;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #d34c4d !important;
  border-color: #d34c4d !important;
}

.btn-check:focus+.btn-danger,
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #d34c4d;
  border-color: #d34c4d;
  box-shadow: none;
}

.btn-check:checked+.btn-danger,
.btn-check:active+.btn-danger,
.btn-danger:active,
.btn-danger.active,
.btn-danger.show.dropdown-toggle,
.show>.btn-danger.dropdown-toggle {
  color: #fff !important;
  background-color: #d34c4d !important;
  border-color: #d34c4d !important;
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff !important;
  background-color: #ea5455 !important;
  border-color: #ea5455 !important;
  box-shadow: none !important;
}

.choices {
  text-align: center;
  width: 100%;
  font-weight: 500;
  margin: 0;
}

.btn-delete,
.btn-sub {
  display: flex;
  justify-content: center;
}


.btn-label-secondary {
  color: #a8aaae;
  border-color: transparent;
  background: #f1f1f2;
}

.btn-label-secondary.waves-effect .waves-ripple {
  background: radial-gradient(rgba(168, 170, 174, 0.2) 0, rgba(168, 170, 174, 0.3) 40%, rgba(168, 170, 174, 0.4) 50%, rgba(168, 170, 174, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.btn-label-secondary:hover {
  border-color: transparent !important;
  background: #eaebec !important;
  color: #a8aaae !important;
}

.btn-label-secondary:focus,
.btn-label-secondary.focus {
  color: #a8aaae;
  background: #eaebec;
  box-shadow: none !important;
}

.btn-label-secondary:active,
.btn-label-secondary.active,
.btn-label-secondary.show.dropdown-toggle,
.show>.btn-label-secondary.dropdown-toggle {
  color: #a8aaae !important;
  background-color: #eaebec !important;
  border-color: transparent !important;
}

.btn-label-secondary:active:focus,
.btn-label-secondary.active:focus,
.btn-label-secondary.show.dropdown-toggle:focus,
.show>.btn-label-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-label-secondary.disabled,
.btn-label-secondary:disabled {
  color: #a8aaae !important;
  border-color: transparent !important;
  background: #f2f2f3 !important;
  box-shadow: none;
}




.btn-success {
  color: #fff;
  background-color: #28c76f;
  border-color: #28c76f;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #24b364 !important;
  border-color: #24b364 !important;
}

.btn-check:focus+.btn-success,
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #24b364;
  border-color: #24b364;
  box-shadow: none;
}

.btn-check:checked+.btn-success,
.btn-check:active+.btn-success,
.btn-success:active,
.btn-success.active,
.btn-success.show.dropdown-toggle,
.show>.btn-success.dropdown-toggle {
  color: #fff !important;
  background-color: #24b364 !important;
  border-color: #24b364 !important;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff !important;
  background-color: #28c76f !important;
  border-color: #28c76f !important;
  box-shadow: none !important;
}

.sub-menu {
  border: 1px solid #dbdade;
  padding: 4%;
  border-radius: 5px;
  margin-top: 2%;
}

.mt-1 {
  margin-top: 1rem !important;
}